* {
  margin: 0px;
  padding: 0px;
  font-family: 'Barlow', sans-serif;
  color: #262D5A;
}

.header {
  background-color: #262D5A;
  color: #FFFFFF;
  padding: 15px 40px;
}

.header-logo {
  height: 75px;
}

.header-icon {
  height: 50px;
  background-color: #C23640;
  border-radius: 35px;
  padding: 10px 20px;
}

.profile-logout {
  column-gap: 10px;
}

.manage {
  color: #C23640;
  font-style: italic;
}

.nav-item:hover,
.nav-item:active,
.nav-item-active {
  color: #C23640;
  text-decoration: underline;
}

.table th,
.table td {
  border-bottom-width: 0.5px;
}

.table img {
  height: 35px;
}

.classtableheader {
  color: #C23640;
  font-size: 20px;
  font-weight: 700;
}

.classtablesubheader {
  color: #262D5A;
  font-size: 15px;
  font-style: italic;
}

.popup {
  background-color: #262D5A;
  height: 350px;
  width: 500px;
}

.popup p {
  color: #C23640;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
}

.popup label {
  color: #FFFFFF;
  font-weight: 700;
}

.popup input {
  color: #FFFFFF;
}

.popup-buttons {
  row-gap: 5px;
}

.popup-buttons button {
  background-color: #C23640;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 35px;
  border: none;
  width: 75px;
}

.question-answers {
  display: flex;
  flex-direction: column;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.scrollable-table {
  overflow-x: auto;
}

@media screen and (max-width: 768px) {

  .header-logo {
    height: 50px;
  }

  .header p {
    font-size: 18px;
    padding: 0px 10px;
    text-align: center;
  }

  .header-icon {
    height: 45px;
    border-radius: 35px;
    padding: 10px 15px;
  }
 table input{
  width: 100%;
 }
}