* {
  margin: 0px;
  padding: 0px;
  font-family: 'Barlow', sans-serif;
  color: #262D5A;
}

/* HEADER */

.header {
  background-color: #262D5A;
  color: #FFFFFF;
  padding: 15px 40px;
}

.header-logo {
  height: 75px;
}

.welcome-name {
  text-transform: capitalize;
}

.header-icon {
  height: 50px;
  background-color: #C23640;
  border-radius: 35px;
  padding: 10px 20px;
  transition: transform 0.3s ease-in-out;
}

.header-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.profile-logout {
  column-gap: 10px;
}

/* NAVBAR */

.manage {
  color: #C23640;
  font-style: italic;
}

.nav-item:hover,
.nav-item:active,
.nav-item-active {
  color: #C23640;
  text-decoration: underline;
}

/* TABLE */

.scrollable-table {
  overflow-x: auto;
}

.classtableheader {
  color: #C23640;
  font-size: 23px;
  font-weight: 700;
}

.classtablesubheader {
  color: #262D5A;
  font-size: 18px;
  font-style: italic;
}

.table th,
.table td {
  border-bottom-width: 0.5px;
}

.table img {
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.table img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.d-button {
  background-color: #262D5A;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 35px;
  border: 2px solid #262D5A;
}

.d-button:hover {
  background-color: #FFF;
  color: #262D5A;
  border: 2px solid #262D5A;
}

.d-button-submit {
  background-color: #C23640;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 35px;
  border: 2px solid #C23640;
}

.d-button-submit:hover {
  background-color: #FFF;
  color: #C23640;
  border: 2px solid #C23640;
}

.d-submit-quiz,
.d-submitted-quiz {
  margin: 15px 0;
}

.d-submitted-quiz {
  font-style: italic;
}

/* ADD AND TAKE QUIZ */

.delete-quiz {
  height: 30px;
  padding-left: 15px;
  transition: transform 0.3s ease-in-out;
}

.delete-quiz:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.question-answers {
  display: flex;
  flex-direction: column;
}

.quiz-info {
  padding: 10px;
  background-color: white;
  border: 1px solid #262D5A;
  border-radius: 10px;
  font-weight: bold;
  margin: 0 7px 20px 0;
}

.quiz-info:hover {
  cursor: auto;
}

.quiz-question {
  width: 350px;
}

.quiz-label {
  color: #262D5A;
  padding-left: 7px;
}

.add-submit {
  display: flex;
  column-gap: 5px;
}

.quiz-table {
  padding: 15px 0px;
}

.newquiz {
  margin: 15px 0px;
}

/* ADD QUIZ POP UP */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popup-btn {
  display: flex;
  column-gap: 5px;
}

/* PROFILE POP UP */

.popup {
  background-color: #262D5A;
  justify-content: center;
  box-shadow: 0px 0px 10px #262D5A;
  padding: 4%;
  position: fixed;
  top: 14%;
  right: 0;
}

.popup p {
  color: #FFF;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
}

.popup label {
  color: #FFFFFF;
  font-weight: 700;
}

.popup input::placeholder {
  color: lightgray;
  font-style: italic;
  font-size: 16px;
}

.popup input {
  color: #fff;
  background-color: #262D5A;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  margin: 7px 0 0 10px;
  padding-left: 2px;
}

.popup-buttons {
  column-gap: 10px;
  margin-top: 20px;
}

.popup-buttons button {
  background-color: #C23640;
  border: 2px solid #C23640;
  color: #FFFFFF;
  padding: 5px 15px;
  border-radius: 35px;
  width: 105px;
}

.popup-buttons button:hover {
  background-color: #FFF;
  border: 2px solid #C23640;
  color: #C23640;
}


@media screen and (max-width: 768px) {

  .header-logo {
    height: 50px;
  }

  .header p {
    font-size: 18px;
    padding: 0px 10px;
    text-align: center;
  }

  .header-icon {
    height: 45px;
    border-radius: 35px;
    padding: 10px 15px;
  }

  .admin-input {
    width: 100%;
  }

  .popup {
    padding: 3%;
    top: 16%;
  }
}





.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check {
  border-radius: 5px;
  width: 220px;
  height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #0ad406;
  cursor: pointer;
  box-shadow: 9px 9px 18px #262c3e,
    -9px -9px 18px #30384e;

  margin: 20px;
}

/* .check:hover{
  background-color: #0ad406;
  transition:0.5s;
} */

.color {
  animation: color 2s linear infinite;
}




.spin {
  animation: spin 2s linear infinite;
}

.warning {
  border-radius: 5px;
  width: 220px;
  height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(247, 149, 72);
  cursor: pointer;
  box-shadow: 9px 9px 18px #262c3e,
    -9px -9px 18px #30384e;

  margin: 20px;
}

/* .warning:hover{
  background-color: rgb(247, 149, 72);
  transition:0.5s;
} */


.rotate {
  animation: rotate 2s linear infinite;
}

.danger {
  border-radius: 5px;
  width: 220px;
  height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 10, 1);
  cursor: pointer;
  box-shadow: 9px 9px 18px #262c3e,
    -9px -9px 18px #30384e;
  margin: 20px;
}

/* .danger:hover
{
  background-color: rgb(255, 10, 1);
  transition:0.5s;
} */


.shine {
  animation: shine 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes color {
  50% {
    color: #2B3246;
  }

  100% {
    color: #0ad406;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(90deg);
  }

  40% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-90deg);
  }
}

@keyframes shine {
  0% {
    color: #2B3246;
  }

  50% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 40px red,
      0 0 60px red,
      0 0 80px red;
  }
}